.settings-screen__div1 {
  margin-top: 70px;
}

.settings__setting {
  padding: 18px 0px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__setting__column {
  display: flex;
  align-items: center;
}

.settings__setting:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.settings__setting__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.settings__setting i {
  color: rgba(0, 0, 0, 0.6);
}

.settings__setting__info span {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

#settings-screen__border {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 1px;
  margin: 10px 0px;
}

.new__notification {
  color: white;
  background-color: tomato;
  font-size: 12px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
}

.settings__setting__title {
  display: flex;
  align-items: center;
}
